<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775911170777-0ql6vef0qtlu2grjuvgl1h9o3idp121r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775911170777-0ql6vef0qtlu2grjuvgl1h9o3idp121r</string>
	<key>API_KEY</key>
	<string>AIzaSyCsAbyDzO-VuMUZ9CM4kGUjOrorGre4vY0</string>
	<key>GCM_SENDER_ID</key>
	<string>775911170777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nouraraar.KIB</string>
	<key>PROJECT_ID</key>
	<string>kibproject</string>
	<key>STORAGE_BUCKET</key>
	<string>kibproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775911170777:ios:fdf6bb87a23f18c9aad4c8</string>
	<key>DATABASE_URL</key>
	<string>https://kibproject.firebaseio.com</string>
</dict>
</plist>